<div class="card ">
    <div class="card-body ">
      <p class="card-text text-center" style="font-size: 20pt">Breakfast</p>
      <!--<table class="table table-bordered">
        <tbody>
  


           <a routerLink="dishId" data-toggle="modal" data-target="#dosa">Dosa</a>
  
  
  
         
          <div class="modal fade" id="dosa">
            <div class="modal-dialog">
              <div class="modal-content">
  
                 
                <div class="modal-header">
                  <h4 class="modal-title">Breakfast</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> 
  
               

  
                 <div class="container">
                  <h2></h2>
                  <table class="table ">
                    <thead>
                      <tr>
                        <th>DishName</th>
                        <th>Price</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <td>{{dishes[0].dishName}}</td>
                        <td>{{dishes[0].dishPrice}}</td>
                        <td>
  
                            <input class="input-group-field" type="number" name="quantity" value="0">
                          
                        </td>
                      </tr>
                 
  
                    </tbody>
                  </table>
                </div>
  

               
  
                 <div class="modal-footer">
                  <a routerLink="cart">
                  <button type="submit" class="btn btn-primary" id="proceed">Proceed to Cart</button>
                </a>
                </div>
  
              </div>
            </div>
          </div>
  
         

        </tbody>
      </table>  -->
  


     
   <div class="card-deck">
      <div class="card col-sm-3">
      
          <img src="/assets/images/dosa2.jpg" class="card-img-top" width=200 />
          <div class="card-body">

            
      
                     
                      <h4 class="modal-title">Breakfast</h4>
                      <button type="button">&times;</button>
      
                   
    
      
                 <div class="container">
                                {{dishes[0].dishName}}
                                {{dishes[0].dishPrice}}
                                <input class="input-group-field" type="number" name="quantity" value="0">

                    </div>
                      <button type="submit" class="btn btn-primary" [routerLink]="['#proceed']" id="proceed">Proceed to Cart</button>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="proceed">
                  <div class="modal-dialog">
                    <div class="modal-content">
        
                       
                      <div class="modal-header">
                        <h4 class="modal-title">Breakfast</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div> 
        
                     
      
        
                       <div class="container">
                        <h2></h2>
                        <table class="table ">
                          <thead>
                            <tr>
                              <th>DishName</th>
                              <th>Price</th>
                              <th>Quantity</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr >
                              <td>{{dishes[0].dishName}}</td>
                              <td>{{dishes[0].dishPrice}}</td>
                              <td>
        
                                  <input class="input-group-field" type="number" name="quantity" value="0">
                                
                              </td>
                            </tr>
                       
        
                          </tbody>
                        </table>
                      </div>
    </div>
    </div>
  
  
  
 
     
   

