<div class="img">
    <img class="d-block w-100" src="/assets/images/r2.jpeg" alt="Third slide" height="550px">
    <div class="search">

      <input type="text" class="">
      <button type="submit">Search</button>
    </div>

</div>
     
     
<br><br>

<div class="container">

  <div class="card-deck">
    <div class="card ">
        <img class="card-img-top" src="/assets/images/breakfast1.jpg" alt="Card image cap" height="175">

      <div class="card-body text-center">
          <a routerLink="/order">

        <p class="card-text" style="font-size:18pt">Breakfast</p>
      </a>
      </div>

    </div>
    <div class="card ">
        <img class="card-img-top" src="/assets/images/lunch1.jpg" alt="Card image cap" height="175">
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 18pt">Lunch</p>
      </div>
    </div>
    <div class="card ">
        <img class="card-img-top" src="/assets/images/dinner.jpg" alt="Card image cap" height="175">
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 18pt">Dinner</p>
      </div>
    </div>
    <div class="card ">
        <img class="card-img-top" src="/assets/images/tiffin.jpg" alt="Card image cap" height="175">
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 18pt">Tiffin Services</p>
      </div>
    </div>
  </div>
</div> 